<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OS Geostack Sandbox</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="stylesheet" href="/bootstrap-5.0.2/css/bootstrap.min.css" />
    <style>
      .bg-card {
        background-color: #3949ab;
      }

      .btn:focus {
        outline: none;
        box-shadow: none;
      }

      .btn-outline-light:focus {
        color: #000;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
      }

    </style>
    <script src="/masonry-4.2.2/js/masonry.pkgd.min.js" defer></script>
    <script src="/bootstrap-5.0.2/js/bootstrap.bundle.min.js" defer></script>
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        // Enable bootstrap popovers
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl, {"html": true})
        })
      });
    </script>
  </head>
  <body>
    <!-- Start Modal Info -->
    {% include 'include_info_modal.html' %}
    <!-- End Modal Info -->

    <!-- Actual content -->
    <div class="container">
      <!-- Title -->
      <div class="row pt-3">
        <div class="col-12">
          <h1 class="display-3 mb-0">
            Welcome to OS Geostack Sandbox
            <!-- Button trigger modal Info -->
            <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modal-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="16" height="16" class="bi bi-lightbulb" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
              </svg>
              <span class="align-middle">Info</span>
            </a>
          </h1>
        </div>
      </div>
      <!-- Sandbox cards -->
      <div class="row pt-3" data-masonry='{"percentPosition": true }'>
        {% for card_nr, card_parts in cards.items() %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card my-2 shadow bg-card text-light">
            <div class="card-body">
              <h5 class="card-title display-6">{{ card_parts['TITLE'] }}</h5>
              <p class="card-text"><small>
                {{ card_parts['DESCRIPTION'] }}
              </small>
              </p>
              {% if card_parts['HREF'] %}
              {% for kv_pair in card_parts['HREF'] %}
                <a class="btn btn-sm btn-warning" href="{{ kv_pair[1] }}"
                target="_blank">{{ kv_pair[0] }}</a>
              {% endfor %}
              {% endif %}
              {% if card_parts['CONNECTIONINFO'] %}
              <a tabindex="0" class="btn btn-sm btn-outline-light" role="button"
                  data-bs-toggle="popover"
                  data-bs-trigger="hover focus"
                  data-bs-content="<span>{% for kv_pair in card_parts['CONNECTIONINFO'] %}
                    <div><small>{{ kv_pair[0] }}: {{ kv_pair[1] }}</small></div>
                    {% endfor %}</span>">
                    Connection info
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
