<div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="modal-2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-3">Info</h5>
          <button type="button" class="btn-close me-3" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

         <!-- BODY ACCORDION -->
         <div class="accordion accordion-flush" id="info-accordion">
            <div class="accordion-item">
              <!-- Item Sandbox -->
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-sandbox">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-fill me-2" viewBox="0 0 16 16">
                    <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6l.5.667Z"/>
                  </svg>
                  About OS Geostack Sandbox
                </button>
              </h2>
              <div id="accordion-item-sandbox" class="accordion-collapse collapse" data-bs-parent="#info-accordion">
                <div class="accordion-body">
                  The goal of OS Geostack Sandbox is to provide you with easy
                  access to a variety of amazing open-source (OS) GIS software
                  with minimal setup effort.
                </div>
              </div>
              <!-- Item good to know -->
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-gtk">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-lightbulb-fill me-2" viewBox="0 0
                  16 16">
                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                  Good to know
                </button>
              </h2>
              <div id="accordion-item-gtk" class="accordion-collapse collapse" data-bs-parent="#info-accordion">
                <div class="accordion-body">
                  <ul>
                    <li>
                      If not mentioned otherwise, data
                      and configurations are persisted across Sandbox
                      restarts.
                    </li>
                    <li>
                      While each component can be explored on its own,
                      JupyterLab-GeoEnv contains tutorials and data stories (data
                      driven cross-application tutorials) that provide guidance how
                      different components might interact to transform raw data
                      into meaningful real-world results.
                    </li>
                    <li>
                      It is possible to interact with Sandbox components from
                      external software (such as QGIS) via the component's
                      HostExternal and PortExternal connection information.
                    </li>
                    <li>
                      Some components such as JupyterLab-GeoEnv provide
                      direct access to the host computer file system. This way
                      processing scripts can even read and write data
                      located outside of the Sandbox.
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Item technology -->
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-technology">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-cpu-fill me-2" viewBox="0 0 16
                  16">
                    <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                    <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
                  </svg>
                  Technology background
                </button>
              </h2>
              <div id="accordion-item-technology" class="accordion-collapse collapse" data-bs-parent="#info-accordion">
                <div class="accordion-body">
                  Each component of the Sandbox is a containerized application.
                  Docker Compose manages the container lifecycle, the volumes
                  used for data storage and the networking between
                  the containers and towards the host. Content in form of
                  tutorials and data stories is distributed as part of a data
                  container, which copies its content to a volume accessible by
                  other containers upon each start. The modular design makes it
                  easy to add new components and new content.
                </div>
              </div>
              <!-- Item contact -->
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-item-contact">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-envelope-fill me-2" viewBox="0 0
                  16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                  </svg>
                  Contact
                </button>
              </h2>
              <div id="accordion-item-contact" class="accordion-collapse collapse" data-bs-parent="#info-accordion">
                <div class="accordion-body">
                  This project is available on GitHub under MIT license <a
                  href="https://github.com/laiskasiili/os_geostack_sandbox/"
                  target="_blank">here</a>. Feel free to raise issues or fork
                  the repository to contribute. There is also the possibility to
                  provide direct feedback through a  <a
                  href="https://forms.office.com/r/t4WB4K0Qqp/"
                  target="_blank">Microsoft Forms</a>.
                </div>
              </div>
            </div>
          </div>
          <!-- END BODY ACCORDION -->

        </div>
      </div>
    </div>
  </div>
