# Install python packages for geoprocessing and workflow
# ------------------------------------------------------
# Shapely: Does planar geometric processing (uses GEOS).
# Pygeos: Newer sibling to shapely with focus on performance. Will be integrated in shapely 2.0.
# Fiona: Reads and writes everything (uses OGR).
# Pyproj: Handles projections (uses PROJ).
# Rtree: Spatial indexing (plays well with geopandas).
# Openpyxl: Is required by geopandas to write excel files.
# Matplotlib: Is required by geopandas to visualize geometries.
# Mapclassify: Utility package for classification schemes for Choropleth Maps. Used by geopandas for GeoDataFrame.explore().
# Folium: Provides interactive plotting capbilities. Used by geopandas for GeoDataFrame.explore().
# Geopandas: Extends pandas with geospatial capabilities (uses shapely, pygeos, fiona, pyproj, Rtree, ...)
# Gdal: Low level gdal python bindings. More a nice-to-have as there are higher level packages like rasterio for interacting with gdal.
# Rasterio Makes working with rasters fun (uses GDAL).
# Xarray: Deals with multidimensional data. Ideal to read/writes netCDF files.
# Xarray-spatial: Extends xarray with powerful spatial processing capabilities without depending on GDAL.
# Xarray[io]: Various io plugins to read/write data in xarray, e.g. netCDF, GRIB,...
# Ecmwflibs: Install because of bug in xarray[io] as of 20210104, but in future xarray[io] should suffice.
# Rioxarray: Extension of xarray to seamlessly interface with rasterio for 2D raster data.
# Jupyterlab: Allows to write rich scripts (notebooks) and run code interactively in the browser.
# Pysal: A collection of packages for advanced geospatial statistical modelling and visualization.
# OWSlib: A python client library to work with OGC OWS services like WMS, WFS, WCS, ...
# GeoAlchemy2: Library that allows to interact with spatial databases. Based on the SqlAlchemy.

# Note: GDAL added from  dockerfile with appropriate version.
ecmwflibs==0.4.6
Fiona==1.8.20
folium==0.12.1.post1
GeoAlchemy2==0.10.2
geopandas==0.10.2
ipyleaflet==0.15.0
jupyterlab==3.2.8
mapclassify==2.4.3
matplotlib==3.5.1
openpyxl==3.0.9
OWSLib==0.25.0
psycopg2==2.9.3
pygeos==0.12.0
pyproj==3.3.0
pysal==2.6.0
rasterio==1.2.10
rioxarray==0.9.1
Rtree==0.9.7
Shapely==1.8.0
xarray==0.20.2
xarray-spatial==0.3.1
xarray[io]
xlsxwriter==3.0.3
