ecmwflibs==0.4.6
Fiona==1.8.20
folium==0.12.1.post1
GDAL==3.2.2
geopandas==0.10.2
jupyterlab==3.2.8
mapclassify==2.4.3
matplotlib==3.5.1
openpyxl==3.0.9
OWSLib==0.25.0
pygeos==0.12.0
pyproj==3.3.0
pysal==2.6.0
rasterio==1.2.10
rioxarray==0.9.1
Rtree==0.9.7
Shapely==1.8.0
xarray==0.20.2
xarray-spatial==0.3.1
xarray[io]
xlsxwriter==3.0.3
